.aboutme{
    padding: 10em 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.aboutme::before{
    content: "";
    position: absolute;
    background-color: var(--darklightcolor);
    width: 100%;
    height: 100%;
    z-index: -2;
}

.aboutme .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 2em;
    padding: 0 4em;
}
.aboutme .text h1 {
    font-size: 3em;
    margin-bottom: 1em;
    position: relative;
    width: max-content;
}
.aboutme .text h1::before{
    background-color: var(--accentcolor);
    position: absolute;
    z-index: -1;
    content: "";
    width: 60px;
    height: 60px;
    right: 0%;
    opacity: 0.5;
}

.aboutme .text p {
    font-size: 1.5em;
}

.aboutme .text span{
    font-weight: 500;
}

.aboutme .paragraph {
    display: flex;
    gap: 1em;
}
.aboutme .dash {
    font-weight: 500;
}

.aboutme .button {
    padding: 1em 2em;
    margin-top: 4em;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    transition: 0.5s;
    z-index: 0;
}
.aboutme .button:hover {
    background-color: var(--accentcolor);
}

.buttonContainer{
    margin-top: 4em;
}




.aboutme .image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutme .picture {
    background-color: aliceblue;
    height: 30em;
    width: 20em;
    position: relative;
    display: inline-block;
    background-image: url(../assets/picture.jpeg);
    background-size: cover;
    background-position: center;
    outline: 10px solid white;
    position: relative;
}
.aboutme .picture::before{
    position: absolute;
    background-color: var(--lightcolor);
    content: "";
    height: 125%;
    width: 75%;
    top: -12.5%;
    right: -40%;
    z-index: -1;
}
.aboutme .picture::after{
    position: absolute;
    width: 75%;
    content: "";
    height: 7.5px;
    bottom: -12.5%;
    right: -40%;
    background-color: var(--accentcolor);
    z-index: -1;
}
.aboutme .picture .orangeBar{
    position: absolute;
    content: "";
    background-color: var(--accentcolor);
    width: 20px;
    height: 20%;
    z-index: 0;
    right: -30px;
    bottom: 0;
}



@media screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .aboutme{
        display: flex;
        flex-direction: column;
        padding: 6em 1em;
    }
    .aboutme .text{
        width: 100%;
        padding: 0;
        align-items: center;
    }
    .aboutme .text p {
        font-size: 1.25em;
    }
    .aboutme .picture{
        display: none;
    }
}

@media screen and (min-device-width : 481px) and (max-device-width : 750px) {
    
    .aboutme {
        display: flex;
        flex-direction: column;
        padding: 6em 3em;
    }

    .aboutme .text {
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .aboutme .text p {
        font-size: 1.25em;
    }

    .aboutme .picture {
        display: none;
    }
}

@media screen and (min-device-width : 751px) and (max-device-width : 1024px) {
    .aboutme {
        display: flex;
        flex-direction: column;
        padding: 6em 6em;
    }

    .aboutme .text {
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .aboutme .text p {
        font-size: 1.25em;
    }

    .aboutme .picture {
        display: none;
    }
}

@media screen and (min-device-width : 1025px) and (max-device-width : 1224px) {
    .aboutme {
        padding: 6em 6em;
    }
    
    .aboutme .text {
        gap: 1em;
        padding: 0 0 0 2em;
    }
    .aboutme .picture::before {
        right: -20%;
    }
    .aboutme .picture::after {
        right: -20%;
    }
}
