.hero{
    padding: 12em 6em;
    display: flex;
    align-items: center;
}

.hero .text{
    width: 50%;
    padding: 0 4em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.hero .paragraph{
    display: flex;
    gap: 1em;
}
.hero .dash{    
    font-weight: 500;
}

.hero .text h1{
    font-size: 4em;
}

.hero .text p{
    font-size: 1.5em;
}

.hero .text span{
    font-weight: 500;
    background: linear-gradient(90deg, rgba(252, 78, 6, 0.25) 10%, rgba(0, 0, 0, 0) 100%);
}

.hero .scroll{
    display: flex;
    align-items: center;
    gap: 2em;
    margin-top: 2em;
    font-size: 0.75em;
}

.hero .scrollButton{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.hero .scrollButton:hover{
    background-color: var(--accentcolor);
}



.hero .image{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.hero .picture{
    background-color: aliceblue;
    height: 30em;
    width: 20em;
    position: relative;
    display: inline-block;
    background-image: url(../assets/picture.jpeg);
    background-size: cover;
    background-position: center; 
}
.hero .picture::before{
    content: '';
    position: absolute;
    outline: 10px solid black;
    outline-offset: -10px;
    width: 100%;
    height: 100%;
    left: 25px;
    top: 25px;
    z-index: -1;
}

.hero .icons{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.hero .icon{
    height: 60px;
    width: 60px;
    content: "";
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}
.hero .icon:hover{
    background-color: var(--accentcolor);
}

.hero .icon img{
    height: 30px;
}



.hero a{
    width: 0;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}



@media (min-device-width : 320px) and (max-device-width : 480px){
    .hero{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 6em 1em;
        gap: 3em;
    }
    .hero .text{
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0;
    }
    .hero .text h1 {
        font-size: 3em;
    }
    .hero .text p{
        font-size: 1.25em;
    }
    .hero .dash {
        display: none;
    }
    .hero .scroll{
        margin-top: 0;
    }
    .hero .scroll p{
        display: none;
    }



    .hero .image{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 1em;
    }
    .hero .image .picture{
        height: 20em;
        width: 15em;
    }
    .hero .picture::before{
        left: 15px;
        top: 15px;
        outline: 5px solid black;
    }
    .hero .icon{
        width: 50px;
        height: 50px;
    }
    .hero .icon img{
        width: 25px;
        height: 25px;
    }
}
@media screen and (min-device-width : 481px) and (max-device-width : 750px){
    .hero {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 6em 3em;
        gap: 3em;
    }

    .hero .text {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .hero .text h1 {
        font-size: 3em;
    }

    .hero .text p {
        font-size: 1.25em;
    }

    .hero .dash {
        display: none;
    }

    .hero .scroll {
        margin-top: 0;
    }

    .hero .scroll p {
        display: none;
    }



    .hero .image {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 1em;
    }

    .hero .image .picture {
        height: 20em;
        width: 15em;
    }

    .hero .picture::before {
        left: 15px;
        top: 15px;
        outline: 5px solid black;
    }

    .hero .icon {
        width: 50px;
        height: 50px;
    }

    .hero .icon img {
        width: 25px;
        height: 25px;
    }
}
@media screen and (min-device-width : 751px) and (max-device-width : 1024px){
    .hero {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 6em 6em;
        gap: 3em;
    }

    .hero .text {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .hero .text h1 {
        font-size: 3em;
    }

    .hero .text p {
        font-size: 1.25em;
    }

    .hero .dash {
        display: none;
    }

    .hero .scroll {
        margin-top: 0;
    }

    .hero .scroll p {
        display: none;
    }



    .hero .image {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 1em;
    }

    .hero .image .picture {
        height: 20em;
        width: 15em;
    }

    .hero .picture::before {
        left: 15px;
        top: 15px;
        outline: 5px solid black;
    }

    .hero .icon {
        width: 50px;
        height: 50px;
    }

    .hero .icon img {
        width: 25px;
        height: 25px;
    }
}
@media (min-device-width : 1025px) and (max-device-width : 1224px){
}