.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10em 6em;
    position: relative;
    gap: 4em;
}
.projects::before {
    content: "";
    position: absolute;
    background-color: var(--darklightcolor);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -2;
}



.projects h1 {
    font-size: 3em;
    margin-bottom: 1em;
    position: relative;
}
.projects h1::before {
    background-color: var(--accentcolor);
    position: absolute;
    z-index: -1;
    content: "";
    width: 60px;
    height: 60px;
    right: 0;
    opacity: 0.5;
}



.projects .cards{
    display: grid;
    grid-template-columns: repeat(3, 414px);
    gap: 2em;
}



@media (min-device-width : 320px) and (max-device-width : 480px) {
    .projects{
        padding: 6em 1em;
        gap: 1em;
    }
    .projects .cards {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        gap: 2em;
    }
}

@media screen and (min-device-width : 481px) and (max-device-width : 750px) {
    .projects {
        padding: 6em 2em;
    }
    .projects .cards {
        display: grid;
        grid-template-columns: repeat(1, 414px);
        gap: 2em;
    }
}

@media screen and (min-device-width : 751px) and (max-device-width : 1024px) {
    .projects {
        padding: 6em 2em;
    }

    .projects .cards {
        display: grid;
        grid-template-columns: repeat(1, 414px);
        gap: 2em;
    }
}

@media (min-device-width : 1025px) and (max-device-width : 1300px) {
    .projects {
        padding: 6em 2em;
    }

    .projects .cards {
        display: grid;
        grid-template-columns: repeat(2, 414px);
        gap: 2em;
    }
}